@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.error {
  margin-top: 20px;
  text-align: center;
}

.formControl {
  display: block;
  width: 200%;
}