/** @format */
$primary-color: rgb(38, 38, 85);
$secondary-color: orange;

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

a {
  text-decoration: none;
}

.showcase {
  background-color: $primary-color;
  color: white;
  height: 50px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 5px 15px;
    }

    a:hover {
      color: $secondary-color;
    }

    .dropdown {
      display: inline-block;
    }

    .dropdown:hover {
      .dropdown-content {
        display: block;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        color: black;
        padding: 12px 16px;
        display: block;
        text-align: left;
      }

      a:hover {
        background-color: lightslategray;
      }
    }
  }

  a {
    color: white;
  }
}
